@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* .marquee {
    animation: marquee 5s linear infinite;
  }
  
  .marquee2 {
    animation: marquee2 5s linear infinite;
    position: absolute;
    top: 0;
  } */

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}